body {

    front-family: Arial;
    background-color: aliceblue;
    padding: 15px;
    margin: 0;
}

header {
    front-family: Arial;
    background: crimson;
}

main {
    front-family: Open-sans;
    text-decoration-color: aquamarine;
    --body-text-color: aquamarine;
    padding: 10px;
}