body {

    font-family: Arial, serif;
    background-color: aliceblue;
    padding: 15px;
    margin: 0;
}

header {
    font-family: Arial, serif;
    background: crimson;
}

main {
    font-family: Open-sans, serif;
    text-decoration-color: aquamarine;
    --body-text-color: aquamarine;
    padding: 10px;
}